
body {

}

header {
  font-size:16px;
  background:#eee;
  padding:10px 12px;
}

#logo {
  margin-right:20px;
}

#content {
  padding-left:114px;
  max-width:1200px;
}

table td, table th {
  padding:3px 12px 3px 12px;
  border-bottom:1px #ddd solid;
}

form table td, form table th {
  padding:6px 12px 6px 12px;
}

table td:first-child, table th:first-child {
  padding-left:0;
}

.errorlist {
  color:#b94a48;
}

#id_description {
  width:600px;
}

#id_title {
  width:600px;
  font-size:18px;
}

form .btn-primary {
  float:right;
}

select, input, textarea {
  padding:2px 2px;
  line-height:1.4;
}

input, textarea {
  border:2px #ddd solid;
}

.comment {
  padding:12px;
}

.comment h4 {
  margin-top:0;
  font-size:15px;
  font-weight:bold;
}
