{% extends "buggy/base.html" %}

{% block title %}Project {{ project.title }}{% endblock %}

{% block breadcrumb %}
  <i class="icon-angle-right"></i> {{ project.title }} <i class="icon-angle-right"></i>
<a href="{% url "buggy.ticket-create" project.id %}" class="btn btn-primary">
<i class="icon-plus-sign-alt"></i> New ticket</a>
{% endblock %}

{% block content %}

<h2>List of tickets for {{ project.title }}</h2>

{% if tag_name %}
<p>
Filtered for tag name <strong>{{ tag_name }}</strong>
<a href="{% url "buggy.project" project.id %}" class="btn btn-primary btn-sml">Remove filter</a>
</p> 
{% endif %}

<table class="table-striped">
<thead>
<tr>
<th>Title</th>
<th>Status</th>
<th>Priority</th>
<th>Author</th>
<th>Assignee</th>
<th>Last updated</th>
<th>Created</th>
<th>Tags</th>
<th>Actions</th>
</tr>
</thead>
{% for ticket in tickets %}
<tr>
  <td>
  <a href="{{ ticket.get_absolute_url }}">
    {{ ticket.title|truncatechars:45 }}
  </a>
  </td>
  <td>
    <i class="{{ ticket.get_icon }}"></i> {{ ticket.status }}
  </td>
  <td style="{{ ticket.get_style }}">
    {{ ticket.priority }} 
  </td>
  <td>
    {{ ticket.author }}
  </td>
  <td>
    {{ ticket.assignee }}
  </td>

  <td>
    {{ ticket.updated_on|timesince }}
  </td>


  <td>
    {{ ticket.created_on|timesince }}
  </td>

  <td>
    {% for tag in ticket.tags.all %}
      <a href="{% url "buggy.project-tag" project.id tag %}">{{ tag }}</a>
    {% endfor %}
  </td>

  <td>
<a href="{% url "buggy.ticket-edit" ticket.id %}" class="btn btn-primary btn-xs">
<i class="icon-edit"></i> Edit</a>
  </td>

</tr>
{% endfor %}

{% if options %}
<tr><td colspan="9">

<form action="" method="post">
{% csrf_token %}

<label><input name="only_assign_to_me" {% if options.only_assigned %}checked{% endif %} type="checkbox"> Only tickets assigned to me</label>
<label><input name="show_resolved" {% if options.show_all %}checked{% endif %} type="checkbox"> Show resolved tickets</label>
<input type="submit" class="btn btn-primary btn-sm" value="Save">

</form>

</td></tr>
{% endif %}

</table>



{% endblock %}
