{% extends "buggy/base.html" %}

{% block title %}Project {{ project.title }}{% endblock %}

{% block breadcrumb %}
  <i class="icon-angle-right"></i> <a href="{{ project.get_absolute_url }}"> {{ project.title|truncatechars:30 }}</a>
  <i class="icon-angle-right"></i> <a href="{{ ticket.get_absolute_url }}">Ticket {{ ticket.title }}</a>
  <i class="icon-angle-right"></i> Edit
{% endblock %}

{% block content %}
<h2><i class="{{ ticket.get_icon }}"></i> Edit {{ ticket.title }}</h2>

<form method="post" action="">
{% csrf_token %}
<table>
{{ form.as_table }}

<tr>
<td></td>
<td>
<input type="submit" value="Save" class="btn btn-primary">
</td>
</tr>
</table>
</form>

{% endblock %}
