{% extends "buggy/base.html" %}

{% block title %}{{ ticket.title }}{% endblock %}

{% block breadcrumb %}
  <i class="icon-angle-right"></i> <a href="{{ ticket.project.get_absolute_url }}"> {{ ticket.project.title|truncatechars:30 }}</a>
  <i class="icon-angle-right"></i> Ticket {{ ticket.title }} 
  <i class="icon-angle-right"></i>
<a href="{% url "buggy.ticket-edit" ticket.id %}" class="btn btn-primary">
<i class="icon-edit"></i> Edit ticket</a> 
{% endblock %}

{% block content %}


<h2>

<i class="{{ ticket.get_icon }}"></i> {{ ticket.title }}

</h2>


<div style="overflow:hidden;clear:both;margin-bottom:20px;">
<table style="float:left; margin-right:30px;">
<tr>
  <th>
    Status
  </th>
  <td>
    {{ ticket.status }}
  </td>
</tr>
<tr>
  <th>
    Priority
  </th>
  <td style="{{ ticket.get_style }}">
    {{ ticket.priority }}
  </td>
</tr>
<table style="float:left; margin-right:30px;">
<tr>
  <th>
    Author
  </th>
  <td>
    {{ ticket.author }}
  </td>
</tr>

<tr>
  <th>
    Assignee
  </th>
  <td>
    {{ ticket.assignee }}
  </td>
</tr>
</table>
<table style="float:left; margin-right:30px;">
<tr>
  <th>
    Last updated
  </th>
  <td>
    {{ ticket.updated_on|timesince }}
  </td>
</tr>
<tr>
  <th>
    Created
  </th>
  <td>
    {{ ticket.created_on|timesince }}
  </td>
</tr>
</table>
</div>

<h3>Description</h3>

<div>{{ ticket.description|urlize|linebreaks }}</div>

{% if comments %}
<h3>Comments</h3>

{% for comment in comments %}

<div class="comment well">
<h4>Posted by {{ comment.author }} {{ comment.created_on|timesince }} ago.
{% if comment.status_changed %}
    {{ comment.status_changed }}
{% endif %}
</h4>
{{ comment.description|urlize|linebreaks }}
</div>
{% endfor %}
{% endif %}

<h3>New Comment</h3>
<form method="post" action="">
{% csrf_token %}
<table>
{{ form.as_table }}

<tr>
<td></td>
<td>
<input type="submit" value="New comment" class="btn btn-primary">
</td>
</tr>

</table>
</form>

{% endblock %}
